/* MOBILE FIRST */

/* COMMUN */

html {
    font-size: 62.5%
    }
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 3rem;
    background-image: url('../img/fond.png');
    background-repeat: repeat-x;
}
h1 {
    font-family: 'Lacquer', sans-serif;
    color : black;
    margin: 0;
    padding: 1rem;
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h2,h3,h4 {
    font-family: 'Pacifico', cursive;
}
img {
    max-width: 100%;
    height: auto;
}
span.touppercase {
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color : darkred;
    font-weight: bold;
    transition: all 0.30s;
}
h1 a:hover {
    color: #2d3436;
}

a:hover {
    color: #d63031;
}

button {
    transition: all 0.30s;
}

.fa-hotjar,
.fa-comments, h2 .fa-user, h2 .fa-user-cogs {
    color : darkred;
}

/* FORM GENERAL */
legend {
    font-weight: bold;
    font-style: italic;
}
input,textarea {
    display: block;
    margin: auto;
}
input[type="text"], input[type="password"], input[type="email"] {
    padding: 6px 9px;
    width: 100%;
    max-width: 50%;
}
input[type="submit"] {
    padding: 0.5rem 2rem;
}

input.invalid, textarea.invalid {
    /* border : 1px solid lightsalmon; */
    outline-color : lightsalmon;
    /* border-color: lightsalmon; */
}

p.invalid_feedback {
    font-size: 1.3rem;
    font-weight: bold;
    margin : 0;
    color: lightsalmon;
    font-style: italic;
    /* max-width: 50%; */

}

input.valid,
textarea.valid {
    outline-color: lightgreen;
}

p.valid_feedback {
    font-size: 1.3rem;
    font-weight: bold;
    margin : 0;
    color: forestgreen;
    font-style: italic;
}

span.required_field {
    font-size: 1rem;
    color: gray;
}
div.popup_error_form {
    width: 50%;
    color : red;
    background: lightgoldenrodyellow;
    margin: 2rem auto;
    padding: 1rem;
}
div.popup_error_form span {
    font-weight: bold;
}
div.popup_error_form li {
    padding: 1rem;
}
.popup_valid_form {
    width: 50%;
    color : green;
    background: lightgreen;
    margin: 2rem auto;
    padding: 1rem;
    font-weight: bold;
}

/*** HEADER ***/

header {
    text-align: center;
    background-color: #01a2a6;
}
h1>a {
    color: black;
}
header li {
    padding:  0.9rem;
}


/** NAV **/
nav a {
    color : black;
    font-size: 2rem;
}
span.user_role {
    display: block;
    font-size: 1rem;
    font-style: italic;
}

/*** MAIN ***/
main {
    text-align: center;
}

main a {
    display : block; 
    padding-bottom: 1rem;
}

.container {
    width: 98%;
    margin: 0 auto;
}

/**** HOME PAGE ****/

/* ARTICLE */
article {
    background: cadetblue;
}

article>h3 {
    background: black;
    color: whitesmoke;
}

article>h3>span.author_infos {
    /* text-align: right; */
    font-size: 1.2rem;
    color: cadetblue;
}

article p {
    max-width: 60%;
    margin: 0 auto;
}

article div {
    margin-bottom: 1rem;
}

p.last_comments  {
    font-style: italic;
}

p.last_comments span {
    color: black;
}



/**** COMMENT PAGE ****/

article.postwithcomments p {
    padding-bottom: 2rem;
}
div.comment {
    text-align: center;
}

span.infos_comment {
    display: block;
    font-family: 'Pacifico',
    cursive;
    color: cadetblue;
}

textarea {
    padding: 6px 9px;
    width: 100%;
    max-width: 50%;
    height: 16rem;
    min-height: 16rem;
    line-height: 2rem;
}


/* ERROR PAGE */
div.error {
    font-weight: bold;
}
div.error h3,
div.error h4,
span.error_message {
    color: red;
}

.error_img {
    width : 35%;
    border: 2px solid cadetblue;
    border-radius: 50%;
}

/** ACCOUNT PAGE **/
section.account_sections {
    margin: 5rem 0;
}
.account_sections a {
    display: inline;
}
span.label_infos {
    font-weight: bold;
}
table {
    margin : 0 auto;
    text-align-last: center;
}
table a {
    display: inline;
}
th,td {
    padding: 0.5rem 0.5rem;
}
td.td_newpost {
    padding: 2.5rem;
}
a.remove {
    padding-left: 0.5rem;
}
a.edit {
    padding-right: 0.5rem;
}


/* SECTION USER_POSTS TABLE */
th#updatePost_th {
    display: flex;
    flex-direction: column;
}
span#updatePost_separator {
    display: none;
}
#userPostsDate_th, .userPostsDate_td {
    display: none;
}

/* SECTION USER_ALL_POSTS TABLE */
#listAllPosts_th, .listAllPosts_td {
    display: none;
}
#listAllPostsDate_th, .listAllPostsDate_td {
    display: none;
}


/* SECTION USER_LIST TABLE */
#user_list th,td {
    padding: 0;
}

#userListDate_th, .userListDate_td {
    display: none;
}

/* user_list firstname/lastname */
#userListNames_th, .userListNames_td {
    display: none;
}
span#userListNames_separator {
    display: none;
}

th#userListMail_th {
    padding: 2rem;
}
td.userListMail_td {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    padding: 1rem;
}


/* form user */
#user_form {
    margin: 0 auto;
}
#user_form, select {
    font-weight: bold;
}
button[type="submit"]:hover {
    color: darkred;
}


/** CHAT **/

article#messages {
    border-radius: 2rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
}
article#messages>p {
    max-width: 90%;
    padding: 0.7rem 0;
}
article#messages p span {
    padding-right: 0.6rem;
    font-weight: bold;
    color: darkred;
    font-style: italic;
}

h3#title_chat {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}
textarea#message {
    height: 12rem;
    min-height: 10rem;
}

div.popup_error_chat {
    width: 50%;
    color: red;
    background: lightgoldenrodyellow;
    margin: 2rem auto;
    padding: 1rem;
}

.hide {
    display: none;
}

/** FOOTER **/
footer {
    color : white;
    text-align: center;
    background-color: #01a2a6;
    margin-top: 2rem;
    padding: 1rem;
}

small:last-child {
    display: none;
}



/* DESKTOP MEDIA QUERIES */
    @media screen and (min-width: 768px) {

    /* COMMUN */

    .container {
        width: 90%;
    }
    nav>ul {
        display: flex;
        justify-content: flex-end;
    }
    span.user_role {
        text-align: right;
        padding-right: 1rem;
    }

    body {
        position: relative;
    }
    /* COMMENT PAGE */
    div.comment {
        text-align: left;
    }

    fieldset {
        padding : 2rem;
    }
    .comment fieldset {
        text-align: center;
    }

    span.infos_comment {
        margin-left: 2rem;
    }

    /* ACCOUNT PAGE */

    /* SECTION USER_POSTS TABLE */
    #userPostsDate_th, .userPostsDate_td {
        display: table-cell;
    }
    
    th#updatePost_th {
        flex-direction: row;
    }

    span#updatePost_separator {
        display: block;
    }


    /* SECTION USER_ALL_POSTS TABLE */
    #listAllPosts_th, .listAllPosts_td {
        display: table-cell;
    }

    #listAllPostsDate_th, .listAllPostsDate_td {
        display: table-cell;
    }



    /* SECTION USER_LIST TABLE */
    #user_list th,td {
        padding: 0.5rem 0.5rem;
    }

    #userListDate_th, .userListDate_td {
        display: table-cell;
    }

    /* user_list firstname/lastname */
    #userListNames_th {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* user_list firstname/lastname */
    .userListNames_td {
        display: block;
    }
    span#userListNames_separator {
        display: block;
    }


    footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 8rem;
        width: 100%;
        padding: 2rem;
    }
    small:last-child {
        display: block;
    }
    small:last-child a {
        color: white;
        font-weight: normal;
    }

    /** CHAT **/
    article#messages {
        text-align: left;
    }

} /* fin queries desktop */

